batchprocess/src/main/mule/batchprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="258c0ebd-0789-414a-8ecc-4f611985ee71" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="991fbfae-4cc2-47a8-9ded-67295d17ddd9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Kirankumar@123" database="db12" />
	</db:config>
	<flow name="batchprocessFlow" doc:id="3793655f-72b4-402b-be24-8526a8533fb4" >
		<http:listener doc:name="input" doc:id="df3f9441-fabc-4148-a1e6-ecea51640981" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Load and Disptach" doc:id="0a96068e-5464-4c35-8bd3-55975424cf86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 100 map {
id: if ($$ ==4)'mulesoft' else 200 + $$,
name: "siva",
number: 1234567890,
lname: "reddy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="Process" doc:id="4ac5516d-0229-45c2-a994-6633049a0570">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="4de31ad6-9a5b-4d96-bc1b-fee1066b274b" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6835ee68-e0bc-4f8c-a6f7-ea574ffa0960" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="5d179f80-a70a-45ee-ba0c-b57234eb57a1" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="964069f2-e9a7-4b3b-8b17-307db74c287f" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO student (id, name, number, lname)
VALUES (:id, :name, :number, :lname);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="80edbca2-d42d-4f7d-8948-62367f7729cb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="57aac82e-209a-439d-a949-8cb944292f0a" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
